# ignore maps data
*.graphml

#ignore map distances
instances/hybrid/networks/*.json

#ignore python cache
*.pyc

#ignore python cache
*.log

#ignore network images
*.png

#ignore MILP debug
*.debug.lp




