# ignore maps data
# *.graphml

#ignore map distances
instances/hybrid/networks/*.json

#ignore python cache
*.pyc

#ignore gurobi/model logs
*.log

#ignore network images
*.png

#ignore MILP debug
*.lp




